<app-header></app-header>

<ion-content>
  <div class="dashboard">
    <div class="calendar-wrapper">
      <ion-datetime
        presentation="date"
        [(ngModel)]="datetime"
        [highlightedDates]="highlightedDates()"
        (ionChange)="onDateSelected($event)"
      >
      </ion-datetime>
    </div>
    <div class="legend-container">
      <ion-chip class="chip-pushya">
        <div class="dot"></div>
        <ion-label>Pushya Session</ion-label>
      </ion-chip>

      <ion-chip class="chip-selected">
        <div class="dot"></div>
        <ion-label>Selected Date</ion-label>
      </ion-chip>

      <ion-chip class="chip-today">
        <div class="dot"></div>
        <ion-label>Today's Date</ion-label>
      </ion-chip>
    </div>

    <!-- Deferrable View: Lazy-loads attendance details when a date is selected -->
    @defer (when selectedDate) {
      <app-calender-details
        [selectedDate]="selectedDate"
        [isSelectedPushya]="isSelectedPushya"
        [isSelectedPast]="isSelectedPast"
        [patients]="patients()"
        (close)="selectedDate = null"
      ></app-calender-details>
    }
  </div>
</ion-content>
