<div class="card" [ngStyle]="{
    'background-color': gold() ? GOLD + '18' : 'white',
    'border': '1px solid ' + (gold() ? GOLD + '40' : 'rgba(26,67,41,0.08)')
}">
  <div
    class="card-icon"
    [ngStyle]="{
      'background-color': gold() ? GOLD + '25' : GREEN_LIGHT
    }"
  >
    <!-- Icon -->
    <!-- <ng-content select="[icon]"></ng-content> -->
    <ion-icon aria-hidden="true" [icon]="icon()"></ion-icon>
  </div>

  <p
    class="card-value"
    [ngStyle]="{
      'color': gold() ? '#9A7A00' : GREEN
    }"
  >
    {{ value() }}
  </p>

  <p class="card-label">
    {{ label() }}
  </p>
</div>