<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (showAddPatient()) {
  <!-- Added event binding to catch close clicks from the form component -->
  <app-add-patient
    nextPushya="2026-07-18"
    (closeForm)="closeForm()"
  ></app-add-patient>
  } @else {
    <app-patient-directory
      [patients]="patientList"
      [allCount]="patientList.length"
      nextPushya="2026-07-18"
      [(search)]="searchQuery"
    ></app-patient-directory>
  }

  <!-- Only show the FAB button when the add patient form is hidden -->
  @if (!showAddPatient()) {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>
