<ion-header translucent="true">
  <ion-toolbar class="custom-toolbar">
    <div class="header-content">

      <div class="brand">
        <div class="logo-box">
          <ion-icon name="leaf-outline"></ion-icon>
        </div>

        <div class="brand-text">
          <h1>SuvarnaCare</h1>
          <p>Ayurvedic Child Wellness</p>
        </div>
      </div>

      <ion-button fill="clear" class="notification-btn">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>

        <span class="badge">3</span>
      </ion-button>

    </div>
  </ion-toolbar>
</ion-header>